<main class="w-100 d-flex flex-column align-items-center">
<h2>Welcome to the sweetest Baby`s Shop</h2>
<div class="bg-secondary-subtle w-50">
    <h3 class="w-100 p-2 m-2">Last messages</h3>
        <span class="w-100 p-2 m-2" id="all messages"> here it will render the real chat </span>
        </div>
<div class="w-50">
    <span id="nickname"></span>
<input
class="w-100 p-2 m-2"
type="text"
name="message"
id="message"
placeholder="Type and chat!"
/>
</div>
</main>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/scripts/chat.js"></script>