<main>
<<<<<<< HEAD
  <h1 class="text-center bg-success-subtle p-2 text-dark-emphasis bg-opacity-25 fst-italic">The Baby's Shop</h1>
  <h2 class="fw-bold text-center">¡WELCOME!</h2>
</main>
=======
    <h1 class="text-center bg-success-subtle p-2 text-dark-emphasis bg-opacity-25 fst-italic">The Baby's Shop</h1>
    <h2 class="fw-bold text-center">¡WELCOME!</h2>
</main>
>>>>>>> 279b47256e6c004d8168da77eb6674f0a487c3e2
