<h1 class="text-center bg-success-subtle p-2 text-dark-emphasis bg-opacity-25 fst-italic">The Baby's Shop</h1>

<section>
    <article class="w-75 align-items-center d-flex flex-column">
        <h2 class="text-center">REGISTER FORM!</h2>

        <form class="d-flex flex-column w-50 ">
            <input class="m-2" type="text" name="photo" id="photo" placeholder="PHOTO">
            <input class="m-2" type="text" name="email" id="email" placeholder="EMAIL">
            <input class="m-2" type="text" name="age" id="age" placeholder="AGE">
            <input class="m-2" type="text" name="password" id="password" placeholder="PASSWORD">
            <input class="m-2" type="button" id="register" value="REGISTER!">
        </form>
    </article>
    <article id="products" class="d-flex flex-wrap w-50"></article>
</section>


<script>
    document.querySelector("#register").addEventListener("click", async () => {
        const data = {
            email: document.querySelector("#email").value,
            age: document.querySelector("#age").value,
            password: document.querySelector("#password").value,
        }

        const photoValue = document.querySelector("#photo").value;
        if (photoValue) {
            data.photo = photoValue;
        }

        const opts = {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        }

        let response = await fetch("/api/sessions/register", opts)
        response = await response.json()

        console.log(response)

        if (response.statusCode === 201) {
            alert("User created successfully")
            location.replace("/login")
        } else {
            alert(response.message)
        }



    })

</script>



{{!-- // -------------- SCRIPT DE WEBSOCKETS -------------------------// --}}
{{!-- <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
    const socket = io();
    socket.on("users", data => {
        console.log(data)
        let template = ``
        template = data.map(each => `
    <div class="card" style="width: 18rem;">
            <img src="${each.photo}" class="card-img-top" alt="${each.id}">
        <div class="card-body">
                <h5 class="card-title"> ${each.email} </h5>
                <p class="card-text">Category: ${each.password} </p>
        </div>
    </div>
`
        ).join("")
        document.querySelector("#users").innerHTML = template
    })
    document.querySelector("#register").addEventListener("click", (event) => {
        let photo = document.querySelector("#photo").value
        let title = document.querySelector("#email").value
        let category = document.querySelector("#password").value

        console.log({ photo, email, password})
        socket.emit("register", { photo, email, password })
    })
</script> --}}