<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You!</title>
    <!-- Asegúrate de que la ruta al archivo CSS esté correctamente configurada -->
    <link rel="stylesheet" href="/path/to/your/styles.css">
</head>

<body>
    <main class="container">
        <div class="card mb-4 mx-auto my-5 w-75 shadow-lg p-3 bg-body-tertiary rounded">
            <h2 class="text-center text-success">¡Gracias por tu compra, {{userEmail}}!</h2>
            <p class="text-center" style="font-size: 18px;">
                Querido cliente,<br>
                Queremos agradecerte por tu reciente compra. Tu apoyo significa mucho para nosotros y
                estamos encantados de haberte podido servir.<br><br>
                Como muestra de nuestra gratitud, te ofrecemos un cupón con un descuento especial del 10% en tu
                próxima compra. Usa el siguiente código en tu próximo pedido:
            </p>
            <div class="text-center">
                <h3 class="text-primary">CUPÓN: <strong>THANKYOU10</strong></h3>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-primary" href="/products">Volver a las compras</a>
            </div>
        </div>
    </main>
</body>

</html>