<section class="d-flex justify-content-center align-items-center vh-100">
  <article class="shadow-sm p-5 rounded-4 bg-white d-flex flex-column align-items-center"
    style="max-width: 400px; width: 100%;">
    <h2 class="text-center mb-4 text-success-subtle">You are almost ready! We sent you a verification code to your email
      address</h2>
    <h3 class="text-center mb-4 text-success-subtle">Please enter it here</h3>

    <form class="d-grid gap-3 w-100">
      <input class="form-control border-0 rounded-3 p-2" style="background-color: #DFF0D8;" type="text" name="email"
        id="email" placeholder="EMAIL" />
      <input class="form-control border-0 rounded-3 p-2" style="background-color: #DFF0D8;" type="text" name="code"
        id="code" placeholder="Verify Code" />
      <button type="button" id="verified" class="btn btn-success-subtle text-dark fw-bold btn-lg w-100">Verify</button>
    </form>
  </article>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  document.querySelector("#verified").addEventListener("click", async () => {
    const data = {
      email: document.querySelector("#email").value,
      code: document.querySelector("#code").value,
    };
    console.log(data);

    const opts = {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(data),
    };

    let response = await fetch("/api/sessions/verify", opts);
    response = await response.json();
    console.log("respuesta:", response);

    if (response.statusCode === 200) {
      Swal.fire({
        title: 'Success',
        text: "Verified User successfully!",
        icon: 'success',
        confirmButtonText: 'OK'
      }).then(() => {
        location.replace("/login");
      });
    } else {
      Swal.fire({
        title: 'Network Error',
        text: response.message,
        icon: 'warning',
        confirmButtonText: 'OK'
      });
    }
  });
</script>